<% include partials/header.ejs %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create a New Time Slot <%= currentUser.username %></h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/slots" method="POST">

                    <div class="form-group">
                        <input id="flatpickr" type="date" name="slot[startTime]" placeholder="Start Time" >
                    </div>
                    <div class="form-group">
                        <input id="flatpickr" type="date" name="slot[endTime]" placeholder="End time">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="slot[description]" placeholder="description">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
                <a href="/slots">Go Back</a>
            </div>
        </div>
    </div>



    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script>
        var pickr =  flatpickr("#flatpickr", {
            enableTime: true,
            allowInput: true
        });
    </script>




<% include partials/footer.ejs %>