<h1>Your Time Slots Page</h1>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% slots.forEach(function(slots){ %>
    <div class="col-md-3 col-sm-6">
        <div class="text">
            <h4><%= slots.name + " " %></h4>
            <div class="caption">
                <h4><%= slots.startTime %></h4>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<h2>Create Availability</h2>
<li><a href="/slots/new">Create New Time Slot</a></li>
<h2>Current Availability</h2>

<h2>Your Matches</h2>



