<% include partials/header %>
<h1>Your Time Slots Page</h1>

<h2>Create Availability</h2>
<li><a href="/slots/new">Create New Time Slot</a></li>

<h2>Current Availability</h2>
<%= slots %>

<h2>Your Matches</h2>

<% include partials/footer %>



